<p>Hello, <span *ngIf="user">{{ user.name }}</span>. <span *ngIf="tasks && tasks.length < 1; else elseBlock">You have no open tasks.</span><ng-template #elseBlock>Here are your open tasks:</ng-template></p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table' *ngIf="tasks && tasks.length > 0">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Done
      </th>
      <th>
        Title
      </th>
      <th>
        Due Date
      </th>
      <th>
        Assignees
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td><mat-checkbox [checked]="task.done" (change)="changeTaskActive(task.id,$event)">Done</mat-checkbox></td>
      <td>{{ task.title }}</td>
      <td>{{ task.dueDate }}</td>
      <td>
        <ul *ngFor="let assignee of task.assignees">
          <li>{{ assignee.user.name }}</li>
      </ul>
    </td>
    </tr>
  </tbody>
</table>
