<h1>
  Tasks for user <span *ngIf="user">{{ user.name }}</span>
</h1>

<p>Hello, <span *ngIf="user">{{ user.name }}</span>. Here are your open Tasks:</p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Done
      </th>
      <th>
        Title
      </th>
      <th>
        Due Date
      </th>
      <th>
        Assignees
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td><mat-checkbox>Checkbox</mat-checkbox>{{ task.done }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.dueDate }}</td>
      <td>
        <ul *ngFor="let assignee of task.assignees">
          <li>{{ assignee.user.name }}</li>
      </ul>
    </td>
    </tr>
  </tbody>
</table>
