<p *ngIf="!task">
  <mat-spinner diameter="30"><em>Loading Task...</em></mat-spinner></p>
<ng-container *ngIf="task">
  <h2>Task {{task.id}}: {{task.title}}</h2>

  <form [formGroup]="detailsFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="fullwidth">
      <input matInput formControlName="title" placeholder="Title" name="title">
    </mat-form-field>
    <mat-form-field formGroupName="initiator">
      <input matInput formControlName="name" [readonly]="true" placeholder="Assigned by" name="initiator" >
    </mat-form-field>
    <mat-form-field>
      <input matInput [readonly]="true" formControlName="creationDate" [matDatepicker]="cdpicker" placeholder="Created" name="creationDate">
      <mat-datepicker #cdpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="dueDate" [matDatepicker]="picker" placeholder="Due Date" name="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox [(checked)]="task.done" name=done (change)="changeTaskActive(task.id,$event)">
      Done
    </mat-checkbox>
    <mat-form-field class="fullwidth">
      <textarea matInput formControlName="description" placeholder="Description" name="description"></textarea>
    </mat-form-field>
    <button type="submit" class="btn btn-primary" mat-button>Update</button>
  </form>
  <p>&nbsp;</p>
  <form [formGroup]="assigneesFormGroup">
    <mat-form-field>
      <mat-chip-list #assigneeList name="assignees">
        <mat-chip *ngFor="let assignee of task.assignees" [removable]="true" (removed)="removeAssignee(assignee)">
          {{assignee.user.name}}
          <mat-icon matChipRemove>Cancel</mat-icon>
        </mat-chip>
        <input matInput placeholder="Assignees" #assigneeInput [matChipInputFor]="assigneeList"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes" [matChipInputAddOnBlur]="addOnBlur"
          formControlName="filteredUser" [matAutocomplete]="auto">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="assigneeAutoCompleteSelected($event)">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let user of filteredUsers" [value]="user">
            {{user.name}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</ng-container>
